[submodule "Classic_Algorithms"]
	path = Classic_Algorithms
	url = https://github.com/miketestgit02/Classic_Algorithms
[submodule "Numbers"]
	path = Numbers
	url = https://github.com/miketestgit02/Numbers
[submodule "Security"]
	path = Security
	url = https://github.com/miketestgit02/Security
